*{
	margin: 0;
	padding:0;
}
body{
	width: 1211px;
	height: 1050px;
    margin: auto;
    padding-top: 50px;
}
header{
	width: 1207px;
	height: 147px;
	border: 5px solid #000;
}
header h1{
	margin-left: 230px;
    margin-top: 40px;
    text-transform: uppercase;
}
.logo{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	float: left;
	margin-top: -100px;
    margin-left: -27px;
    background: #fff;
    outline: 5px solid #fff;
	float: left;
}
main{
	width: 936px;
	height: 621px;
	margin-top: 61px;
	margin-left: 112px;
}
main h2{
    margin: 34px;
    padding-left: 50px;
}
h3{
	padding-top: 13px;
    padding-left: 17px;
}
.Top{
	width: 935px;
	height:104px;
	border: 5px solid #000;
	margin-bottom: 15px;
	left: 50%;
	right: 50%;
}

.columns{
	width: 935px;
    height: 450px;
}
.left{
	width: 367px;
	height: 434px;
	border: 5px solid #000;
	float: left;
}
.left_column{
	width: 140px;
	height: 392px;
	float: left;
	margin-top: 18px;
    margin-left: 15px;
}
.right{
	width: 417px;
	height: 430px;
	border: 5px solid #000;
	float: right;
}
.right_column{
	width: 140px;
	height: 392px;
	float: right;
	margin-right: 33px;
    margin-top: 20px;
}
.pagination_left{
	float: left;
	border: 5px solid #000;
	width: 356px;
	height: 60px;
	margin-left: 9px;
} 
.pagination_right{
	float: right;
	border: 5px solid #000;
	width: 396px;
	height: 60px;
	margin-right: 16px
}
footer{
	width: 1253px;
	height: 148px;
	border: 5px solid #000;
	margin-top: 41px;
}
.I{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
}
.II{   
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin-left: 2px;
    margin-top: 13px;

}
.III{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin-top: 14px;
    margin-left: 6px;

}
.IV{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
}
.V{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin-top: 11px;
    margin-left: -4px;
}
.VI{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin: 8px;
    margin-top: 12px;
}
.VII{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
}
.VIII{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin-top: 20px;
    margin-left: 2px;
}
.IX{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin-top: 11px;
    margin-left: 3px;
}
.X{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
}
.XI{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin-top: 15px;
    margin-left: -11px;

}
.XII{
	width: 121px;
	height: 109px;
	border: 5px solid #000;
	margin-top: 15px;
    margin-left: -11px;
}